# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

GestionBencinera/BencineraWEB/bin
GestionBencinera/BencineraWEB/obj
GestionBencinera/BencineraWEB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GestionBencinera/BencineraWEB/obj/Debug/*.cache

GestionBencinera/BencineraDALC/bin
GestionBencinera/BencineraDALC/obj
GestionBencinera/BencineraDALC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GestionBencinera/BencineraDALC/obj/Debug/*.cache

GestionBencinera/BencineraNegocio/bin
GestionBencinera/BencineraNegocio/obj
GestionBencinera/BencineraNegocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GestionBencinera/BencineraNegocio/obj/Debug/*.cache


GestionBencinera/BencineraEntidades/bin
GestionBencinera/BencineraEntidades/obj
GestionBencinera/BencineraEntidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GestionBencinera/BencineraEntidades/obj/Debug/*.cache
*.suo
GestionBencinera/BencineraDALC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache